.banner {
  display: flex;
  justify-content: center;
  background: #011570;
  padding: 40px;
}
.banner img {
  width: 400px;
  border: 2px solid white;
}
.homepage .subtitle {
  padding-left: 30px;
}

.home-featured ul {
  flex-wrap: wrap;
  padding-left: 0;
}
