@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.homepage .title{
  margin: auto;
  font-family: "DM Sans", sans-serif;
  height: 100%;
  background: #011570;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: baseline;
  border-top: 2px solid #011570
}

.banner {
  width:100%
}


img {
  width:100%
}


@media only screen and (max-width: 600px) {
  .homepage .main {
    margin-left: 10px;
  }
}