@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.recipe-show {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.wrapper {
  margin: 5px;
}

.top_section {
  margin: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(121, 110, 110, 0.386);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top_section img {
  border-radius: 6px;
  display: block;
  height: 300px;
}

.ingredients_and_method {
  display: flex;
  margin-right: 35px;
}
.recipe_method {
  width: 60%;
}

.recipe_ingredients ul,
.recipe_method ul {
  display: inline-block;
}

.ingredients_and_methods h3,
p {
  text-align: left;
  padding: 5px;
}

.ingredients_and_method h3 {
  margin-left: 40px;
}

.top_section_text {
  text-align: center;
}

.recipe_reviews {
  margin: 40px;
}

.leave_review_section {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(121, 110, 110, 0.386);
  border-bottom: 1px solid rgba(121, 110, 110, 0.386);
}

.rate_star {
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
}

.reviews {
  margin-top: 30px;
  border-radius: 8px;
}

.reviews ul {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.reviews li {
  padding: 10px 10px;
  margin-left: -40px;
  margin-bottom: 10px;
  border: 1px solid rgba(121, 110, 110, 0.386);
  border-radius: 8px;
  width: 100%;
}

.review_table_top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(121, 110, 110, 0.386);
}

.comment_author {
  font-weight: bold;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 400ms;
}

.edit-delete {
  display: flex;
  justify-content: space-around;
}

.recipe-show .key-info {
  padding-bottom: 3rem;
}

.recipe-show .delete,
.recipe-show .edit {
  color: #011570;
}
.like-button {
  font-size: 2rem;
}

#heart-button {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
.like-container {
  display: flex;
  justify-content: space-around;
}
.leave_review_section h3 {
  font-size: 0.8rem;
  max-width: 30;
}

.review-input label {
  color: #011570;
  transition: 0.25s ease;
}
.review-input {
  transition: 1s ease;
  background: hsl(247, 58%, 90%);
  color: #011570;
}

.recipe-show .action {
  background-color: #011570;
  color: white;
}
.recipe.show .action:hover {
  cursor: pointer;
}
.leave-review-heading {
  max-width: 40%;
}
.delete button:hover {
  color: coral;
}
.top_section {
  margin-bottom: 0.5rem;
}

.recipe-show .action {
  cursor: pointer;
}
.star-rating {
  font-weight: bold;
  font-size: 1.1rem;
  color: #011570;
}

@media only screen and (max-width: 600px) {
  .recipe-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
  }
  .recipe-show h2 {
    font-size: 1rem;
  }
  .recipe-show .top_section {
    margin-top: 0;
  }
  .recipe-show img {
    height: 10rem;
    width: 10rem;
  }
  .leave_review_section {
    display: flex;
    flex-direction: column;
  }
  .ingredients_and_method {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .recipe_ingredients {
    display: flex;
    flex-direction: column;
  }
  .recipe-show .leave-review-heading {
    max-width: 80%;
  }
}
