@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.shopping-list {
  margin: auto;
  font-family: "DM Sans", sans-serif;
  height: 100%;
  background: #011570;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: baseline;
  border-top: 2px solid #011570;
}

.shopping-list .container {
  margin: 0 auto;
  max-width: 20em;
}

.shopping-list header {
  padding: 20px 0 10px 0;
  background: #011570;
  text-align: center;
  /* margin-right: 2rem; */
  width: 35%;
}

.shopping-list .header-title {
  margin: 0;
  padding-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
}

.shopping-list .sub-input {
  padding-left: 10px;
  height: 44px;
  width: 66.6666%;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-list .sub-input::placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.shopping-list .sub-input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.shopping-list li {
  border-radius: 100px;
}
.shopping-list .add-button {
  padding: unset;
  height: 46px;
  width: 27.33333%;
  background: #ffc107;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 1.3rem;
  color: #fff;
}

.shopping-list .sub-input,
.shopping-list .add-button {
  margin-bottom: 16px;
}
.shopping-list,
.main {
  background: white;
}
.shopping-list .list {
  padding: 0;
  list-style-type: none;
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-list .list-item {
  font-size: 1.3rem;
  width: 300px;
  height: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.shopping-list .list-item:nth-child(odd) {
  background: #673ab7;
}

.shopping-list .list-item:nth-child(even) {
  background: #4527a0;
}

.shopping-list .list-delete {
  cursor: pointer;
  float: left;
  margin: -5px;
  padding: 5px 9px;
  background: transparent;
  box-shadow: 0 0 0 transparent;
  border: 0 solid transparent;
  text-shadow: 0 0 0 transparent;
  background-color: lightcoral;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.8;
}

.shopping-list .list-delete:hover {
  opacity: 1;
}

.shopping-list .form {
  margin: 0;
  padding: 0;
}
.shopping-list .sub-input {
  transition: 1s ease;
  background: hsl(247, 58%, 90%);
  color: darkblue;
}

.shopping-list .main {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

div.container:nth-child(2) {
  margin-left: 0px;
}
.shopping-list button .list-delete {
  font-size: unset;
}

.add-button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .shopping-list .main {
    /* margin-left: 10px; */
  }
  .shopping-list .main {
    flex-shrink: 0;
  }
}
